*{
    font-family: "Noto Sans TC", sans-serif;
    box-sizing: border-box;
    list-style: none;
    border-style: none;
    scroll-behavior: smooth;
}

.logo{
    width: 100%;
    height: 80px;
    background-color: #fefefe;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);;
    text-align: center;
    
}

.steinluxLogo{
    width: 180px;
    height: 40px;
    margin: 20px
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.optionContainer{
    width: 60%;
    height: 100%;
}

.container .option{
    color: #fefefe;
    width: 100%;
    height: 80px;
    background-color: black;
    margin: 5px 0;
    border: 3px none rgb(251, 251, 108);
}

.container .option:hover{
    background-color: rgb(181, 189, 152);
    color: black;
    border: 3px solid #fefefe;
    cursor: pointer;
    transition: 0.5s;
}

.questionContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 60%;
    background-color: #97a68c;
    padding: 40px 0;
}

.question{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #97a68c;
}

footer{
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    background-color: rgb(243, 243, 242);
}

.footerContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0 10px 0;
}

.footerContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 25%;
}

.footerContainer h4{
    text-align: left;
    font-size:16px;
    margin: 15px 0 10px 0;
}

.footerContainer ul{
    margin: 0;
    padding: 0;  
}

.footerContainer li{
    font-size:12px;
}

footer a{
    text-decoration: none;
    color: #444; 
    line-height: 30px;
}

footer p{
    font-size: 12px;
    color: #888;
    
}

.footerCopyright p{
    display: inline-block;
    font-size: 10px;
    margin-right: 20px;
}

.footerCopyright h4{
    display: inline-block;
    font-size: 10px;
    border-right: solid #222 1px;
}

@media (max-width: 1200px) {
    .dropdown{
        margin: 0;
    }

    .dropdown-toggle{
        border: 0;
    }
}
@media (max-width: 992px) {
    .footerContainer div{
        width: 50%;
    }

    .footerCopyright{
        display: flex;
        flex-direction: column;
    }
}