*{
    font-family: "Noto Sans TC", sans-serif;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border-style: none;
    scroll-behavior: smooth;
}

.hidden-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin: 20px 0; /* 添加間距以便更容易看到效果 */
}

.hidden-element.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(3deg);
    }

    40% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-3deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

@keyframes scale{
    0% {
        scale: 1;
    }
  
      20% {
        scale: 0.95;
    }
  
      40% {
        scale: 1;
    }
  
      60% {
        scale: 1.05;
    }
  
      100% {
        scale: 1;
    }
}

.navbar{
    height: 76px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    background: url('../src/STEINLUX_LOGO.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 180px;
    height: 40px;
}

.navbar-nav{
    margin-left: 100px;
}

.dropdown{
    margin: 0 20px;
    border-radius: 10px;
}

.dropdown-menu a:hover,
.dropdown:hover {
    background: #97a68c;
    transition: 0.3s;
}

.topBtn button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    background-color: #97a68c;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.bannerContainer{
    margin-top: 76px;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bannerContainer span{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fefefe;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    z-index: 1;
}

.bannerContainer span h1{
    font-size: 3vw;
}

.bannerContainer span h2{
    width: 100%;
    font-size: 1.5vw;
}

main{
    text-align: center;
}

main h1{
    font-size: 32px;
    font-weight: 700;
    margin-top: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.introduce{
    width: 100%;
}

.introduce img{
    scale: 0.8;
}

.introduce h3{
    font-size: 20px;
    font-weight: 700;
}

.introduceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.introduceItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 20px;
}

.introduceItem span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 250px;
    padding: 20px;
    border: 5px solid #707c66;
    border-radius: 20px;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin: 20px 50px;
    box-shadow: 1px 1px 5px #6b6868;
}

.introduceItem2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.introduceItem2 span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduceItem span:hover{
    cursor: pointer;
    background-color: #8dba81;
    color: #fefefe;
    transition: 0.3s;
    animation: shake .3s cubic-bezier(0.47, 0.5, 0.745, 0.715);
}

.solution span h1{
    color: rgb(181, 189, 152);
}

.solution span p{
    line-height: 2.5;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.serviceItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.service .item{
    background: #f8f8f8;
    width: 20%;
}

.service .item a{
    color: #fefefe;
    text-decoration: none;
}

.serviceItem .item img{
    width: 200px;
    height: 175px;
}

.serviceItem .item h1{
    font-weight: 700;
    font-size: 20px;
    color: #475468;
}

.serviceItem .item button{
    background-color: #97a68c;
    margin-bottom: 40px;
    padding: 8px 16px;
    border-radius: 5px;
    border: solid transparent 5px;
}

.serviceItem .item button:hover{
    background-color: #8dba81;
    animation: scale .3s cubic-bezier(0.47, 0.5, 0.745, 0.715);
}

.event{
    width: 100%;
}

.eventItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventItem .item img{
    width: 100%;
    height: 100%;
}

.eventItem .item{
    position: relative;
    width: 350px;
    height: 220px;
    margin: 50px;
}

.eventItem .item span{
    position: absolute;
    height: 0px;
    left: 0;
    top: 0;
    padding: 30px;
    color: #fefefe;
    background: linear-gradient(#7aa45e,#77b26d);
    opacity: 0;
    transition: 0.5s;
}

.eventItem .item:hover span{
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 100%;
}

.eventItem .item p{
    font-size: 14px;
}

.eventItem .item h3{
    font-size: 20px;
}


footer{
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    background-color: rgb(243, 243, 242);
}

.footerContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0 10px 0;
}

.footerContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 25%;
}

.footerContainer h4{
    text-align: left;
    font-size:16px;
    margin: 15px 0 10px 0;
}

.footerContainer ul{
    margin: 0;
    padding: 0;  
}

.footerContainer li{
    font-size:12px;
}

footer a{
    text-decoration: none;
    color: #444; 
    line-height: 30px;
}

footer p{
    font-size: 12px;
    color: #888;
    
}

.footerCopyright p{
    display: inline-block;
    font-size: 10px;
    margin-right: 20px;
}

.footerCopyright h4{
    display: inline-block;
    font-size: 10px;
    border-right: solid #222 1px;
}

@media (max-width: 1440px) {
    .introduce img{
        display: none;
    }
    .introduceItem span{
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .dropdown{
        text-align: center;
        margin: 0;
    }

    .dropdown-toggle{
        border: 0;
    }

    .introduceItem span{
        width: 50%;
    }

    .introduceItem2{
        display: flex;
        flex-wrap: wrap;
    }

    .eventItem{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 992px) {
    .navbar-nav{
        margin-left: 0;
    }

    .introduceItem span{
        width: 75%;
    }

    .serviceItem .item{
        width: 50%;
    }
    
    .footerContainer div{
        width: 50%;
    }

    .footerCopyright{
        display: flex;
        flex-direction: column;
    }
}